<div class="codeExample">
  <div class="exampleOutput"><%= rendered_example %></div>
  <div class="codeBlock" aria-hidden="true">
    <div class="highlight">
      <pre><%= code_example %></pre>
    </div>
    <span class="btn-copy">Copy</span>
  </div>
</div>
